@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import "@fontsource/roboto-condensed/400.css";
@import "@fontsource/roboto-condensed/500.css";
@import "@fontsource/roboto-condensed/700.css";

@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  /* Blue Grey option, comment out to use tailwind original slate-colors */
  --color-slate-950: hsl(209, 61%, 9%);
  --color-slate-900: hsl(211, 39%, 16%);
  --color-slate-800: hsl(209, 34%, 24%);
  --color-slate-700: hsl(209, 28%, 33%);
  --color-slate-600: hsl(210, 22%, 43%);
  --color-slate-500: hsl(209, 23%, 54%);
  --color-slate-400: hsl(211, 27%, 66%);
  --color-slate-300: hsl(210, 31%, 78%);
  --color-slate-200: hsl(212, 33%, 88%);
  --color-slate-100: hsl(210, 36%, 94%);
  --color-slate-50: hsl(210, 36%, 98%);
}

@supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
  @keyframes fade-in {
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0.3;
    }
  }

  @keyframes scale-out {
    100% {
      transform: scale(0.98) translateY(10px);
      opacity: 0.5;
    }
  }

  @keyframes fade-to-black {
    to {
      color: black;
    }
  }

  #hero-background {
    animation: fade-out both linear;
    animation-timeline: scroll();
    animation-range: 0vh 50vh;
  }

  #art-card {
    view-timeline: --art-card;
  }

  #nav-items {
    color: white;
    animation: fade-to-black both linear;
    animation-timeline: scroll();
    animation-range: 90vh 100vh;
  }

  #art-card {
    opacity: 0;
    transform: translateY(10%);
    animation: fade-in both linear;
    animation-timeline: --art-card;
    animation-range: cover 5% cover 30%;
  }

  @media (width >= 768px) {
    #art-card {
      transform: translateX(-10%);
    }

    #art-card:nth-child(even) {
      transform: translateX(10%);
    }
  }

  @media (width >= 1280px) {
    #hero-content {
      position: fixed;
      transform: scale(1) translateY(0);
      animation: scale-out both linear;
      animation-timeline: scroll();
      animation-range: 0vh 50vh;
      transform-origin: center;
    }
  }
}
